# CONFIGURACIÓN GENERAL DEL SERVIDOR
PORT=3000
NODE_ENV=development

# CREDENCIALES DE TELEGRAM
BOT_TOKEN=tu_bot_token_aqui
TELEGRAM_LOGS_CHANNEL_ID=tu_canal_logs_id_aqui
TELEGRAM_DIRECTOR_ID=tu_director_id_aqui

# BASE DE DATOS / ALMACENAMIENTO
DATABASE_URL=tu_conexion_database_aqui

# PASARELA DE PAGOS
PAYMENT_GATEWAY_SECRET=tu_clave_privada_aqui
WEBHOOK_SECRET=tu_firma_de_seguridad_aqui
